body {
    background-color: #90dea1;
    background: linear-gradient(rgb(70, 88, 70));
    color:rgb(229, 244, 237);
}
nav{
    background-color: #ffffff5d;
    font-size: 18px;
    font-style: italic;
    color:rgb(255, 255, 255);
}
h1{
    color:rgb(255, 255, 255);
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    margin-right: 220px;
}
nav a:active {
    color: rgb(0, 0, 0);
}
.h1{
    text-align: center;
}
