body {
    background-color: #90dea1;
    background: linear-gradient(rgb(70, 88, 70));
    color:white;
}
#contact-form button:hover {
    background-color: #51a0f3;
    font-family: 'Arial', sans-serif;
}
nav{
    background-color: rgb(255, 255, 255);
}
h1{
    color:white;
}
